$primary-text-color:#111518;
$secondary-text-color:#3D3D3D;
$alt-text-color:#FFFFFF;
$light-gray-color:#B9B9B9;
$accent-text-color: #FF6B09;
$main-backgroud-color:#FFFFFF;
$secondary-background-color: #E5E5E5;
$alt-background-color: #111518;
$accent-background-color:#FF6B09;
$dark-gray-background-color:#F1F1F1;
$main-font: 'Montserrat', sans-serif;

