<!-- <div class="container">
  <ul class="advantages">
    <li class="advantages__advantages-label">
      <div class="advantages__advantages-img">
        <svg class="advantages__advantages-svg" height="70" width="70">
          <use href="../src/images/sprite.svg#icon-advantages-progpam"></use>
        </svg>
      </div>

      <p class="advantages__advantages-text">Adapted author's UPE program</p>
    </li>

    <li class="advantages__advantages-label">
      <div class="advantages__advantages-img">
        <svg class="advantages__advantages-svg" height="70" width="70">
          <use href="../src/images/sprite.svg#icon-advantages-methods"></use>
        </svg>
      </div>

      <p class="advantages__advantages-text">Modern teaching methods</p>
    </li>

    <li class="advantages__advantages-label">
      <div class="advantages__advantages-img">
        <svg class="advantages__advantages-svg" height="70" width="70">
          <use href="../src/images/sprite.svg#icon-advantages-result"></use>
        </svg>
      </div>

      <p class="advantages__advantages-text">Financial guarantee the result</p>
    </li>
  </ul>
</div> -->
