<section class="section">
  <div class="container">
    <ul class="advantage">
      <li class="advantage__advantage-label">
        <div class="advantage__advantage-img">
          <svg class="advantage__advantage-svg" height="70" width="70">
            <use href="../src/images/sprite.svg#icon-advantages-methods"></use>
          </svg>
        </div>
        <p class="advantage__advantage-text">Adapted author's UPE program</p>
      </li>

      <li class="advantage__advantage-label">
        <div class="advantage__advantage-img">
          <svg class="advantage__advantage-svg" height="70" width="70">
            <use href="../src/images/sprite.svg#icon-advantages-progpam"></use>
          </svg>
        </div>
        <p class="advantage__advantage-text">Modern teaching methods</p>
      </li>

      <li class="advantage__advantage-label">
        <div class="advantage__advantage-img">
          <svg class="advantage__advantage-svg" height="70" width="70">
            <use href="../src/images/sprite.svg#icon-advantages-result"></use>
          </svg>
        </div>
        <p class="advantage__advantage-text">Financial guarantee the result</p>
      </li>
    </ul>
  </div>
</section>
