<section class="benefit">
  <div class="benefit__wrapper">
    <h2 class="benefit__title">Why do people <span class="benefit__br-title">choose us</span></h2>
    <ul class="benefit__list">
      <li class="benefit__item">
        <p class="benefit__item-content">Training in small groups</p>
      </li>
      <li class="benefit__item">
        <p class="benefit__item-content">Rendered notes</p>
      </li>
      <li class="benefit__item">
        <p class="benefit__item-content">Each lesson has a goal and a specific result</p>
      </li>
      <li class="benefit__item">
        <p class="benefit__item-content">The real results of the teacher</p>
      </li>
      <li class="benefit__item">
        <p class="benefit__item-content">
          The course program meets the requirements of the MES of Ukraine
        </p>
      </li>
      <li class="benefit__item">
        <p class="benefit__item-content">Set of groups by level of knowledge</p>
      </li>
    </ul>
  </div>
</section>