  <section class="container contacts">
      <h2 id="contacts" class="contacts__heading">Registration for a <span class="contacts__words--color">free</span> phone <span class="contacts__words--color">consultation</span> on the nuances of English UPE</h3>
      <p class="contacts__text">Leave a request for participation in a <span class="contacts__words--color">free lesson</span>.
      <br>A consultant will contact you and answer your questions</p>
      <div class="contacts__form">
        <input class="contacts__input" name="name" type="text" placeholder="Name*" pattern="^[a-zA-Z]+\s[a-zA-Z]+$">
        <input class="contacts__input" name="phone" type="tel" placeholder="Phone*" pattern="[\+]\d{2}\s[\(]\​d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}">
        <button class="contacts__button" type="button">i want a free lesson</button>
      </div>
  </section> 