<section class="guarantee">
  <div class="container">
    <h2 id="training-options"  class="guarantee-title">We guarantee</h2>
  </div>
  <div class="guarantee-list__background">
    <div class="container">
      <ul class="guarantee-list">
        <li class="guarantee-item">
          You will pass the UPE with at least 25 points better than on the first practice test.
          Otherwise, we will refund your money
          <span class="div guarantee-item__color">*</span>
          <div class="guarantee-item__border"></div>
        </li>
        <li class="guarantee-item">
          <div class="guarantee-item__border"></div>
          You will learn to write essays with at least 10 points out of 14.
          <span class="div guarantee-item__color">
            While 20% of the students received 0 for essays.
          </span>
        </li>
        <li class="guarantee-item">
          <div class="guarantee-item__border"></div>
          You will study in your area. We will choose the location for the classes after the teams
          have been formed.
        </li>
        <li class="guarantee-item">
          Teams will be formed based on the starting level of the students. We take into account the
          characteristics of each student.
        </li>
      </ul>
    </div>
  </div>
</section>
