<header class="page-header">
  <div class="container">
    <a href="" class="nav__link-logo">
      <span class="nav__logo">Hell</span>
      <svg width="22" height="30">
        <use href="../src/images/sprite.svg#icon-element-logo"></use>
      </svg>
      <span class="nav__logo">EN</span>
      
    </a>

    <button type="button" class="menu-button" data-menu-button>
      <svg width="40" height="40" aria-label="Переключаетель мобильного меню">
        <use class="icon-burger" href=""></use>
        <use class="icon-burger-close" href=""></use>
      </svg>
    </button>

    <div class="page-header__navigation" data-menu>
      <nav class="nav">
        <ul class="site-nav">
          <li class="site-nav__menu-item">
            <a href="" class="link site-nav__menu-link">Studying program</a>
          </li>
          <li class="site-nav__menu-item">
            <a href="" class="link site-nav__menu-link">About</a>
          </li>
          <li class="site-nav__menu-item">
            <a href="" class="link site-nav__menu-link">Training options</a>
          </li>
          <li class="site-nav__menu-item">
            <a href="" class="link site-nav__menu-link">Contacts</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="phone-button">Consultation by phone</button>
    </div>
  </div>
</header>
