<header class="page-header">
  <div class="container">
    <a href="" class="nav__link-logo">
      <svg width="128" height="45">
        <use href="../src/images/sprite.svg#logo-1"></use>
      </svg>
    </a>

    <button type="button" class="menu-button" data-menu-button>
      <svg aria-label="Переключаетель мобильного меню">
        <use
          width="20"
          height="12"
          class="icon-burger"
          href="../src/images/sprite.svg#burger-menu"
        ></use>
        <use
          width="15"
          height="15"
          class="icon-burger-close"
          href="../src/images/sprite.svg#burger-close"
        ></use>
      </svg>
    </button>

    <div class="page-header__navigation" data-menu>
      <nav class="nav">
        <ul class="site-nav">
          <li class="site-nav__menu-item">
            <a href="" class="link site-nav__menu-link">Studying program</a>
          </li>
          <li class="site-nav__menu-item">
            <a href="" class="link site-nav__menu-link">About</a>
          </li>
          <li class="site-nav__menu-item">
            <a href="" class="link site-nav__menu-link">Training options</a>
          </li>
          <li class="site-nav__menu-item">
            <a href="" class="link site-nav__menu-link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <button type="button" class="phone-button">Consultation by phone</button>
  </div>
</header>
