<header class="page-header">
  <div class="container">
    <a href="#" class="nav__link-logo">
      <span class="nav__logo">Hell</span>
      <svg width="14" height="19">
        <use class="nav__logo-img" href="../src/images/sprite.svg#icon-element-logo"></use>
      </svg>
      <span class="nav__logo-3">EN</span></a
    >
    <button type="button" class="menu-button" data-menu-button>
      <svg width="40" height="40" aria-label="Переключаетель мобильного меню">
        <use class="icon-burger" href="../src/images/sprite.svg#icon-menu"></use>
        <use class="icon-burger-close" href="../src/images/sprite.svg#icon-menu"></use>
      </svg>
    </button>

    <div class="page-header__navigation" data-menu>
      <nav class="nav">
        <ul class="site-nav">
          <li class="site-nav__menu-item">
            <a href="" class="link site-nav__menu-link">studying program</a>
          </li>
          <li class="site-nav__menu-item">
            <a href="" class="link site-nav__menu-link">about</a>
          </li>
          <li class="site-nav__menu-item">
            <a href="" class="link site-nav__menu-link">training options</a>
          </li>
          <li class="site-nav__menu-item">
            <a href="" class="link site-nav__menu-link">contacts</a>
          </li>
        </ul>
      </nav>

      <button type="button" class="phone-button">consultation by phone</button>
    </div>
  </div>
</header>
