<section class="hero">
  <div class="hero-shadow">
  <div class="container">
    <div class="hero-position">
    <div class="hero-text__position">
      <h1 class="hero__hero-title">Complex preparation for English UPE</h1>
      <p class="hero__hero-paragraph">
        <span class="hero-paragraph1">It won’t be easy.<br /></span> But you’re are guaranteed to
        get <span class="hero-paragraph2">+25 points</span>
      </p>
      <button data-modal-open class="hero__btn-hero" type="button">i want a free lesson</button>
    </div>
    <div class="hero-backgournd">
      <picture class="hero-backgournd__image">
        <source
         srcset="../src/images/hero/hero_841_1x.png 1x, ../src/images/hero/hero_841_2x.png 2x"
          media="(min-width: 1314px)"
        />
        <source
          srcset="../src/images/hero/hero_375_1x.png 1x, ../src/images/hero/hero_375_2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="../src/images/hero/hero_208_1x.png 1x, ../src/images/hero/hero_208_2x.png 2x"
          media="(min-width: 480px)"
        />

        <img src="../src/images/hero/hero_208_1x.png" alt="background hero" />
      </picture>
    </div>
  </div>
  </div>
  </div>
</section>
