<section class="problems container">
  <div class="problems__one">
    <p class="problems__text">
      The main problems of students in English UPE, which we help to solve
    </p>
  </div>
  <div class="problems__two">
    <p class="problems__text-two">Grammar</p>
    <p>Inability to understand</p>
    <ul class="text__numbert">
      <li class="number">-01</li>
      <p class="text__description">Grammar</p>
      <li class="number">-02</li>
      <p class="text__description">Inability to understand spoken English</p>
      <li class="number">-03</li>
      <p class="text__description">Stingy vocabulary for writing an essay</p>
        <li class="number">-04</li>
      <p class="text__description">Preparing alone</p>
        <li class="number">-05</li>
      <p class="text__description">Lack of a single knowledge resource</p>
        <li class="number">-06</li>
      <p class="text__description">Lack of self-organization and laziness</p>
      </div>
    </ul>
  </div>
</section>
