<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Заголовок страницы</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.min.css">
  </head>
  <body>
<section class="problems container">
  <div class="problems__one">
    <p class="problems__text">The main problems of students
      in English UPE, which
      we help to solve</p>
  </div>
<div class="problems__two">
  <ul class="text__numbert">
  <li class="number">-01</li>
<p class="text__description">Grammar</p>
  <li class="number">-02</li>
<p class="text__description">Inability to understand
  spoken English</p>
  <li class="number">-03</li>
<p class="text__description">Stingy vocabulary for writing an essay</p>
  <li class="number">-04</li>
<p class="text__description">Preparing alone</p>
  <li class="number">-05</li>
<p class="text__description">Lack of a single knowledge resource</p>
  <li class="number">-06</li>
<p class="text__description">Lack of self-organization and laziness</p>
</div>
  <!-- Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
</section>
<script src="./index.js"></script>
</body>
</html>

<!--  
  <h1>HTML-фрагменты</h1>
  <img src="images/demo.jpg" alt="" width="320" />
  <p>
    Плагин
    <a
      href="https://github.com/posthtml/posthtml-include"
      target="_blank"
      rel="noopener noreferrer"
    >
      posthtml-include
    </a>
    позволяет добавлять в HTML-файлы страниц код из других HTML-файлов (фрагментов). Фрагменты
    хранятся в папке
    <code>src/partials</code>. Добавление происходит при компиляции файлов страниц, например
    <code>index.html</code>.
  </p>

  <p>
    Этот файл <code>example.html</code> &mdash; пример такого фрагмента, с разметкой определённой
    части главной страницы. Это очень удобно при командной разработке на студенческих проектах,
    когда в одном HTML-файле пишет несколько человек сразу.
  </p>

  <p>
    Синтаксис добавление фрагмента в главный файл:
    <code> &lt;include src="./partials/имя-файла.html"&gt;&lt;/include&gt; </code>
  </p>

  <div class="background"></div>-->