.contacts {
  max-width: 1600px;
  height: 507px;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 55px;
  background-color: $alt-background-color;
  background-image: linear-gradient(rgba(17, 21, 24, 0.8), rgba(17, 21, 24, 0.8)),
    url(../images/contacts/contacts-bg-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .contacts {
      background-image: linear-gradient(rgba(17, 21, 24, 0.8), rgba(17, 21, 24, 0.8)),
        url(../images/contacts/contacts-bg-mobile@2x.jpg);
      height: 507px;
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 66px;
    padding-bottom: 67px;
  }

  @media screen and (min-width: 1366px) {
    padding-top: 100px;
    padding-bottom: 62px;
  }
}

@media (min-width: 768px) {
  .contacts {
    background-color: $alt-background-color;
    background-image: linear-gradient(rgba(17, 21, 24, 0.8), rgba(17, 21, 24, 0.8)),
      url(../images/contacts/contacts-bg-tablet@1x.jpg);
    height: 520px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .contacts {
      background-color: $alt-background-color;
      background-image: linear-gradient(rgba(17, 21, 24, 0.8), rgba(17, 21, 24, 0.8)),
        url(../images/contacts/contacts-bg-tablet@2x.jpg);
      height: 520px;
    }
  }
}

@media (min-width: 1366px) {
  .contacts {
    background-image: linear-gradient(rgba(17, 21, 24, 0.8), rgba(17, 21, 24, 0.8)),
      url(../images/contacts/contacts-bg-desctop@1x.jpg);
    max-width: 1680px;
    height: 840px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .contacts {
      background-image: linear-gradient(rgba(17, 21, 24, 0.8), rgba(17, 21, 24, 0.8)),
        url(../images/contacts/contacts-bg-desctop@2x.jpg);
      max-width: 1680px;
      height: 840px;
    }
  }
}

.contacts__heading {
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $alt-text-color;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1366px) {
    font-size: 46px;
    line-height: 60px;
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.08em;
  color: $alt-text-color;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 17px;
    max-width: 452px;
  }

  @media screen and (min-width: 1366px) {
    font-size: 30px;
    line-height: 36px;
    max-width: 1090px;
  }
}

.contacts__words--color {
  color: $accent-text-color;
}

.contacts__form {
  margin-top: 43px;
  align-items: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    margin-top: 23px;
  }

  @media screen and (min-width: 1366px) {
    margin-top: 56px;
  }
}

.contacts__input {
  width: 100%;
  max-width: 478px;
  height: 48px;
  padding: 15px 28px 16px 28px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  border: 1px solid $main-backgroud-color;
  color: $alt-text-color;
  // font-family: inherit;
  background-color: rgba(255, 255, 255, 0);

  &::placeholder {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: $alt-text-color;

    @media screen and (min-width: 1366px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &:nth-child(1) {
    margin-bottom: 20px;

    @media screen and (min-width: 1366px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 390px;
  }

  @media screen and (min-width: 1366px) {
    max-width: 478px;
    height: 70px;
    padding-left: 40px;
  }
}

.contacts__button {
  max-width: 280px;
  height: 48px;
  margin-top: 50px;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border-style: unset;
  background-color: $accent-background-color;
  color: $alt-text-color;

  @media screen and (min-width: 768px) {
    min-width: 260px;
    margin-top: 31px;
  }

  @media screen and (min-width: 1366px) {
    min-width: 354px;
    height: 70px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 80px;
  }
}
