// logo
.logo {
  display: flex;
}
.logo-svg {
  width: 80px;
  height: 30px;
  @media (min-width: 768px) {
    width: 128px;
    height: 45px;
  }
}
.nav__link-logo {
  text-decoration: none;
  font-style: normal;
  padding: 0;

  @media (min-width: 768px) {
    margin-right: 239px;
  }
  @media (min-width: 1366px) {
    margin-right: 144px;
  }
}

.nav__logo {
  color: $primary-text-color;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.23;
  letter-spacing: 0.04em;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;

  @media (min-width: 480px) {
    display: flex;
    align-items: center;
  }

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: auto;
  }
  @media (min-width: 1366px) {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.site-nav {
  gap: 40px;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: stretch;
    gap: 40px;
  }
}

.site-nav .link {
  padding: 0;
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  color: $light-gray-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 480px) {
    padding: 0;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    color: $light-gray-color;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: $accent-background-color;
}

.phone-button {
  display: none;

  @media (min-width: 768px) {
    display: block;

    width: 366px;
    height: 70px;
    padding: 24px 27px;

    border: solid 2px;
    border-color: $accent-background-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: white;
    color: $accent-background-color;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.page-header__navigation {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(17, 21, 24, 0.9);
  margin: 0;
  padding: 48px 40px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 100;

  &.is-open {
    display: flex;
  }

  @media (min-width: 768px) {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    display: none;
    background-color: white;

    &.is-open {
      display: flex;
    }
  }
  @media (min-width: 1366px) {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 123px;
    display: inline-flex;
    width: 100%;
  }
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu-button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  z-index: 10000;
  position: relative;
  fill: black;

  @media (min-width: 480px) {
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }

  @media (min-width: 768px) {
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }

  @media (min-width: 1366px) {
    display: none;
  }
}

.menu-button .icon-burger-close {
  display: none;
}

.menu-button.is-open .icon-burger-close {
  display: block;
}

.menu-button.is-open .icon-burger {
  display: none;
}
