// logo

.nav__link-logo {
    text-decoration: none;
    font-style: normal;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;}

.nav__logo {
    color: $primary-text-color;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }